.counter{
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 600px;
    background:rgb(224, 125, 125);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}